/* last rule */
/* p{
    color: red;
}

p{
    color: green;
}

p{
    color: gray;
} */

/* specificity */
/* *{
    color: red;
}

p{
    color: green;
}

p#intro{
    color: green;
} */

/* inheritence */

/* body{
    color: red;
}

.page{
    color: black;
}

p{
    font-family: cursive;
    color: inherit;

} */

body{
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    padding: 10px;
    border: 1px solid red;
}

.page{
    border: 1px solid #656565;
    background-color: #efefef;
    padding: inherit;
}











